$background: #8b4d33;
$background__dark: #44372e;
$background__button: #c3a264;

// theme
$primary: #f6b330;
$light: #fff;
$dark: $background__dark;

// $body-bg: $background;
$body-color: $primary;

$opacity: 0.98;
$cardBackground: #483629;
$form-select-indicator-color: $primary;
